<footer class="footer-inner">
	<div class="container">
		<div class="footer-inner__flex">
			<div class="footer-inner__flex-inner">
				<div class="footer__flex-prive">
					<a href="/privacy.html" class="footer__flex-prive-link">Privacy Policy</a>
					<div class="footer__flex-delimiter"></div>
					<a href="/terms.html" class="footer__flex-prive-link">Terms & Conditions</a>
				</div>
				<div class="footer__flex-prive">
					<div class="footer__flex-prive-bl">©</div>
					<div class="footer__flex-delimiter"></div>
					<div class="footer__flex-prive-bl">2021</div>
				</div>
			</div>
			<a href="/cookie.html" class="footer__flex-prive-link">Cookies</a>
		</div>
	</div>
</footer>