<div class="mission">
	<div class="container">
		<div class="mission__flex">
			<div class="mission__flex-flex">We want users to enjoy using our website and applications. Also we want to find out which images, colors and visual shapes are the most popular with different people. The more time you're spending on our site — the more useful it will be for our company. That's why we are interested in increasing traffic to our website, we are looking forward to every new user. You are welcome! Good luck!</div>
			<img src="/img/mission.png" alt="">
		</div>
	</div>
</div>