<div class="games">
	<div class="container">
		<ul class="games__list">
			<li class="games__item">
				<a href="https://duxking.com/games/1/index.html" class="games__item-link">
					<div class="games__item-link-img">
						<img src="/img/1.jpeg" alt="">
					</div>
					<span class="games__item-text">Banditos</span>
				</a>
			</li>
			<li class="games__item">
				<a href="javascript:void(0)" class="games__item-link" onclick="mainObj.gPopup.open('games-popup')">
					<div class="games__item-link-img">
						<img src="/img/2.jpeg" alt="">
					</div>
					<span class="games__item-text">Dark Knight</span>
				</a>
			</li>
			<li class="games__item">
				<a href="https://duxking.com/games/3/index.html" class="games__item-link">
					<div class="games__item-link-img">
						<img src="/img/3.jpeg" alt="">
					</div>
					<span class="games__item-text">Anksunamun</span>
				</a>
			</li>
			<li class="games__item">
				<a href="https://duxking.com/games/4/index.html" class="games__item-link">
					<div class="games__item-link-img">
						<img src="/img/4.jpeg" alt="">
					</div>
					<span class="games__item-text">Golden Knight</span>
				</a>
			</li>
			<li class="games__item">
				<a href="javascript:void(0)" class="games__item-link" onclick="mainObj.gPopup.open('games-popup')">
					<div class="games__item-link-img">
						<img src="/img/5.jpeg" alt="">
					</div>
					<span class="games__item-text">Pandark Squad</span>
				</a>
			</li>
			<li class="games__item">
				<a href="https://duxking.com/games/6/index.html" class="games__item-link">
					<div class="games__item-link-img">
						<img src="/img/6.jpeg" alt="">
					</div>
					<span class="games__item-text">Diamond Cave</span>
				</a>
			</li>
		</ul>
	</div>
</div>