{# index.twig #}

{% block footer %}
	<footer class="footer">
		<div class="container">
			<div class="footer__flex">
				<div class="footer__flex-inner">
					<span class="footer__flex-info">All Rights Reserved site.com © 2021</span>
					<div class="footer__flex-inner-cont">
						<div class="footer__flex-inner-cont-flexed">
							<div class="footer__flex-prive">
								<a href="/privacy.html" class="footer__flex-prive-link">Privacy Policy</a>
								<div class="footer__flex-delimiter"></div>
								<a href="/terms.html" class="footer__flex-prive-link">Terms & Conditions</a>
							</div>
							<a href="/cookie.html" class="footer__flex-link">Cookies</a>
						</div>
						<div class="footer__flex-inner-links">
							<a href="https://play.google.com/">{% include '/assets/svg/soc-1.svg' %}</a>
							<a href="https://apps.apple.com/">{% include '/assets/svg/soc-2.svg' %}</a>
							<a href="https://facebook.com">{% include '/assets/svg/soc-3.svg' %}</a>
							<a href="https://www.instagram.com/">{% include '/assets/svg/soc-4.svg' %}</a>
						</div>
					</div>
				</div>
				<img class="footer__flex-age" src="svg/18+.svg" alt="">
			</div>
		</div>
	</footer>
{% endblock %}