<div class="play">
	<div class="container">
		<ul class="play__list">
			<li class="play__item">
				<div class="play__item-number">1</div>
				<div class="play__item-content">
					<a href="#" class="play__item-content-img">
						<img src="/img/1.jpeg" alt="">
					</a>
					<div class="play__item-content-text">
						<h2 class="play__item-content-text-title">Banditos</h2>
						<p class="play__item-content-text-abs">Banditos game is free video slot based on exciting wild west world. Trеasures, duels with pistols and wildlife — enjoy this wonderful adventure and get a lot of emotions!</p>
					</div>
				</div>
			</li>
			<li class="play__item">
				<div class="play__item-number">2</div>
				<div class="play__item-content">
					<a href="#" class="play__item-content-img">
						<img src="/img/4.jpeg" alt="">
					</a>
					<div class="play__item-content-text">
						<h2 class="play__item-content-text-title">Golden Knight</h2>
						<p class="play__item-content-text-abs">This crusaders-themed game of chance will entertain you for hours if you're a fan of game games with accurate design! Just enjoy the mediеval music and epic atmosphere. Good luck!</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>