<div class="contacts">
	<div class="container">
		<ul class="contacts__list">
			<li class="contacts__item">
				{% include '/assets/svg/map.svg' %}
				<span class="contacts__item-text">Netherlands, Eindhoven, Emmasingel 33-35</span>
			</li>
			<li class="contacts__item">
				{% include '/assets/svg/mail.svg' %}
				<a href="mailto:eidh.veriads@gmail.com" class="contacts__item-link">eidh.veriads@gmail.com</a>
			</li>
			<li class="contacts__item">
				{% include '/assets/svg/phone-call.svg' %}
				<a href="tel:31003244234" class="contacts__item-link"> +31 00 324 4234</a>
			</li>
		</ul>
		<div class="contacts__map" id="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.05005727423!2d5.472873815767462!3d51.4388745796239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d904c30b93cd%3A0x459ad12e15999bd0!2zRW1tYXNpbmdlbCAzMywgNTYxMSBBWiBFaW5kaG92ZW4sINCd0LjQtNC10YDQu9Cw0L3QtNGL!5e0!3m2!1sru!2sru!4v1636712920094!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</div>