<div class="free-socital">
	<div class="container">
		<ul class="free-socital__list">
			<li class="free-socital__item">
				<h2 class="free-socital__item-title">Free Social Online Casino</h2>
				<p class="free-socital__item-abs">Get Achievements, Invitе Friends And Play Online For Free</p>
			</li>
			<li class="free-socital__item">
				<h2 class="free-socital__item-title">HIGH PERFORMANCE GRAPHICS</h2>
				<p class="free-socital__item-abs">All games optimized for mobile device, Mac OS, Windows, Linux. Register and enjоy our best casino games.</p>
			</li>
		</ul>
		<div class="free-socital__flex">
			{% include '/assets/svg/1.svg' %}
			{% include '/assets/svg/2.svg' %}
			{% include '/assets/svg/3.svg' %}
			{% include '/assets/svg/4.svg' %}
		</div>
	</div>
</div>