<header class="header">
	<div class="header__flex container">
		<a href="/" class="header__flex-link">
			{% include '/assets/svg/logo.svg' %}
		</a>
		<div class="header__flex-burg" onclick="mainObj.header.showMenu(this)">
			<div class="header__flex-burg-text">Menu</div>
			<div class="header__flex-burg-list">
				<div class="header__flex-burg-item"></div>
				<div class="header__flex-burg-item"></div>
				<div class="header__flex-burg-item"></div>
			</div>
		</div>
	</div>
	<div class="header-menu">
		<ul class="header-menu__item">
			<li class="header-menu__list">
				<a href="/">Home</a>
			</li>
			<li class="header-menu__list">
				<a href="/contacts.html">Contacts</a>
			</li>
			<li class="header-menu__list">
				<a href="/play.html">Play</a>
			</li>
			<li class="header-menu__list">
				<a href="/mission.html">Our Mission</a>
			</li>
			<li class="header-menu__list">
				<a href="/privacy.html">Privacy policy</a>
			</li>
			<li class="header-menu__list">
				<a href="/terms.html">Tеrms & Conditions</a>
			</li>
			<li class="header-menu__list">
				<a href="/cookie.html">Cookiеs</a>
			</li>
		</ul>
	</div>
</header>
